@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Condensed:wght@300&display=swap');
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1400px;
    }
}
.button{
    border-radius: 40px;
}
.color{
    color:red;
}
.highlight{
    color: rgb(49, 141, 49);
}
.footer-color{
    background-color: #282531;
}
.logo{
    width: 100px;
}
.background{
    background-color: #F0FFF0;
}

.card-image{
    width: 50%;
}
.c-style {
    height: 450px;
    background-color: #F8FFFB;
    border: none;
    transition: 0.4s;
}
.c-height{
    height: 450px;
}
@media screen and (min-width:768px){
    .c-style {
        height: 350px;
        background-color: #F8FFFB;
        border: none;
        transition: 0.4s;
    } 
    .c-height{
        height: 350px;
    }
}
.c-style:hover{
background-color: #fff;
box-shadow: 10px 10px 30px lightgray;
}
.c-design{
    border: none;
    box-shadow: 10px 10px 30px lightgray;
    border-radius: 20px;
    background-color: white;
    transition: 0.4s;
}
.c-design:hover,.c-design:hover .card-footer{
    background-color: #F0FFF0;
}
.footer-color{
    color: #CDCDCD;
}
ul{
    padding: 0;
}
ul li{
    list-style: none;
}
.display-1{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    
}
.f-text{
    font-size: 25px;
}
.about-card{
    height: 567px;
    background-image: url(e-school-resources-master/dr.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}
.testimonial{
    max-width: 1100px;
    font-family: 'Poppins', sans-serif;   
}
.testimonial h3{
    font-size: 20px;
}
.testimonial h1{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.card-footer {
    padding: 0; 
    background-color: white; 
    border-top: 0;
    font-weight: 500;
    margin-top: 40px;
    transition: 0.4s
}
.about-card{
    color: white;
    text-shadow: 0 0 10px rgb(100, 100, 100);
    transition: 0.4s;
}
.about-card:hover{
    box-shadow: 0 0 25px lightgray;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #3a8f4d;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(49, 177, 76, 0.25);
}
